<h1> Reviews for <%= link_to @movie.title, @movie %> </h1>
<ul>
    <% reviews.each do |review| %>
        <li> <%= review.stars %> </li>
        <li> <%= review.name %> </li>
        <li> <%= review.comment %> </li>
    <% end %>
</ul>
