<header>
  <nav>
    <%= image_tag("logo.png") %>
    <ul class="left">
      <li>
        <%= link_to("All movies", root_path) %>
      </li>
      </ul>
      <ul class="right">
        <li>
          <%= link_to "Sign Up", signup_path, class: "button" %>
        </li>
      </ul>
  </nav>
</header>
